<h1 class="text-center">{{title}}</h1>

<div class="container">
  <div class="row">
    <form method="POST" id="movieForm" class="col s12">
      <div class="input-field col s12">
        <input type="text" name="title">
        <label for="title">Title</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="description">
        <label for="description">Description</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="genre" placeholder="Action, Drama, Comedy...">
        <label for="genre">Genre</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="director">
        <label for="director">Director</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="stars">
        <label for="stars">Stars</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="Year">
        <label for="Year">Year</label>
      </div>
      <div class="input-field col s12">
        <input type="text" name="poster">
        <label for="poster">Poster</label>
      </div>
      <input type="submit" value="add movie" class="btn btn-primary btn-block">
    </form>
  </div>
</div>


<section id="posters">
  <div class="row">
    <div id="output"></div>
  </div>
</section>


<div class="row">
  <form method="DELETE" id="deleteUser" class="col s12">    
    <div class="input-field col s12">
      <input type="text" name="mid">
      <label for="uid">ID</label>
    </div>
    <input type="submit" value="Delete user" class="btn btn-primary btn-block">
  </form>
</div>

<a href="/api/users" class="btn btn-light mt-4">Visit API</a>
<a href="/stats" class="btn btn-light mt-4">Visit stats</a>

<script>
showUsers()

function showUsers() {
  fetch('/api/movies').then(res => {
    return res.json();
  }).then(data => {
    let output = '<h2>movies</h2>';
    data.forEach(movie => {
      let stars = movie.stars.join(', ');
      output += `
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <img src="${movie.poster}">
            </div>
            <div class="card-content">
              <span class="card-title">${movie.title} (${movie.Year})</span>
              <bold>${movie.genre}</bold>
              <hr>
              <small>
              <p>${movie.description}</p>
              <hr>
              <p>director: ${movie.director}</p>
              <p>stars: ${stars}</p></small>
            </div>
            <div class="card-action">
              <a href="movies/${movie._id}">Click here</a>
            </div>
          </div>
        </div>`;
      document.getElementById('output').innerHTML = output;
    });
  });
}

// post request
const movieForm = document.getElementById('movieForm');
movieForm.addEventListener('submit', e => {
  e.preventDefault(); // tar bort standard beteende
  
  data = {
    "title":movieForm.title.value,
    "description":movieForm.description.value,
    "genre":movieForm.genre.value,
    "director":movieForm.director.value,
    "stars":movieForm.stars.value,
    "Year":movieForm.Year.value,
    "poster":movieForm.poster.value,

  };
  
  fetch('/api/movies/',{
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type':'application/json'
      }
  }).then(res => {
    showUsers();
    return res.json();
  }).catch(error => {
    console.log(error);
    })
});


//Delete user
const deleteUser = document.getElementById('deleteUser');
deleteUser.addEventListener('submit', e => {
  e.preventDefault();

  fetch('/api/movies/' + deleteUser.mid.value , {
    method: "DELETE",
    headers: { "Content-Type": "application/json" }
  }).then(res => res.json()).then(data => showUsers()).catch(error => console.log(error));
});



//statistik, hur många action filmer? 
</script>

