<script>
    fetch('http://localhost:5000/api/users').then(res => {
        return res.json();
    }).then(data => {
        let output = '<h2>users</h2>';
        data.forEach(user => {
            output += `
                <ul class="mb-3">
                    <li class="list-group-item">ID: ${user._id}</li>
                    <li class="list-group-item">Name: ${user.name}</li>
                    <li class="list-group-item">Age: ${user.age}</li>
                </ul>
            `;
            document.getElementById('test').innerHTML = output;
        });
    })

    userForm = document.getElementById('userForm');

    userForm.addEventListener('submit', event => {
        console.log(userForm);
    });


</script>

<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/users" id="userForm" method="POST" class="mb-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control">
    </div>
    <input type="submit" value="Add Member" class="btn btn-primary btn-block">
</form>

<div id="test"></div>

<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://scotch-res.cloudinary.com/image/upload/w_1000,q_auto:good,f_auto/media/https://scotch.io/wp-content/uploads/2015/01/getting-started-materialize-css-framework.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://scotch-res.cloudinary.com/image/upload/w_1000,q_auto:good,f_auto/media/https://scotch.io/wp-content/uploads/2015/01/getting-started-materialize-css-framework.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

<a href="/api/users" class="btn btn-light mt-4">Visit API</a>