<div class="row">
  <form method="POST" id="userForm" class="col s12">
    <div class="input-field col s12">
      <input type="text" name="name">
      <label for="name">Name</label>
    </div>
    <div class="input-field col s12">
      <input type="text" name="age">
      <label for="age">age</label>
    </div>
    <div class="input-field"
    <input type="submit" value="Add Member" class="btn btn-primary btn-block">
  </form>
</div>

<!--
<input type="text" name="title">
<label for="title">title</label>
<input name="genre">
<label for="genre">genre</label>
<input name="duration">
<label for="duration">duration</label>
<input name="director">
<label for="director">director</label>
<input name="writers">
<label for="writers">writers</label>
<input name="actors">
<label for="actors">actors</label>

    
-->